.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #15809b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#error_message, #error_message2, #error_message3, #error-message4, #error_message5, #error_message6{
  color: red;
}

body{
  background-color: rgb(169,225,247);
  line-height: 1.85em;
}

#post_text{
  margin-left: 5%;
  margin-right: 5%;
}

form{
  overflow: hidden;
  /* right: 10%; */
}
input, fieldset{
  float: right;
  clear: both;
}

label{
  text-align: center;
}

input{
  height: 25px;
  width: 85%;
}

fieldset{
  padding: 10%;
  position: absolute;
  right:10%;
}

#login_pic{
  width: 280px;
  height: 200px;
  position: absolute;
  left: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
#login_pic2{
  width: 680px;
  height: 450px;
  position: absolute;
  left: 40px;
  bottom: 80px;
  opacity: 0.75;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.navbar_ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(24, 159, 201);
}

.navbar_list {
  margin-left: 2%;
  margin-right: 2%;
  float: left;
}

.navbar_list .navbar_link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#selected_nav{
  background-color: #61bcd3;
}

#compose_icon{
  margin-left: 2%;
  margin-right: 2%;
  float: right;
  height: 2%;
  width: 2%;
  position: relative;
  top: 13px;
}

#compose_icon:hover{
  cursor: pointer;
}

.bold{
  font-weight: bold;
}




/* #float_right_nav{
  float: right;
} */


